openapi: 3.0.1
info:
  contact:
    email: info@crowd4cash.ch
    name: Crowd Solutions AG
    url: https://crowd4cash.ch
  description: Access to the Crowd4Cash Crowdlending Platform through an API
  termsOfService: https://crowd4cash.ch/api2.license.html
  title: C4C REST API
  version: 2.0.0
  x-konfig-ignore:
    object-with-no-properties: true
    potential-incorrect-type: true
servers:
- url: https://api2.crowd4cash.ch
tags:
- name: Application
- name: Contracts
- name: Reports
- name: Bidding
- name: Portfolio
- name: Authentication
- name: Opportunities
- name: Loans
paths:
  /Authenticate:
    post:
      operationId: Authentication_getToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
        description: Your username and password
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
          description: Successfully Authenticated
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Invalid Login
          x-do-not-generate: true
      summary: Authenticate yourself and get an access token
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--Authenticate
      x-content-type: application/json
      x-accepts: application/json
  /Loan:
    post:
      description: "**Note**: Approval and funding times vary, but typically it takes\
        \ only 24 hours."
      operationId: Application_submitLoanApplication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanApplication'
        description: ""
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResult'
          description: Successful Loan Application
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      security:
      - Bearer: []
      summary: Apply for a regular loan - 100% online application
      tags:
      - Application
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--Loan
      x-content-type: application/json
      x-accepts: application/json
  /IntermediaryLoan:
    post:
      description: "**Note**: Each successful application creates a binding obligation\
        \ on you. Once you apply you may not retract the application."
      operationId: Application_submitPartnerLoanApplication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntermediaryLoanApplication'
        description: ""
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResult'
          description: Successful Loan Application
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      security:
      - Bearer: []
      summary: Apply for a loan on behalf of your partners e.g. garages/shops/stores
      tags:
      - Application
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--IntermediaryLoan
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: "**Note**: It's valid only for loans made indirectly through the\
        \ intermediary."
      operationId: Application_setDefinitiveHandoverDate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntermediaryLoanHandoverDate'
        description: ""
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResult'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      security:
      - Bearer: []
      summary: Set the definitive Handover Date (a date when the item is handed over
        to the customer)
      tags:
      - Application
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--IntermediaryLoan
      x-content-type: application/json
      x-accepts: application/json
  /RentalLoan:
    post:
      description: "**Note**: Each successful application creates a binding obligation\
        \ on you. Once you apply you may not retract the application."
      operationId: Application_submitRentalLoanApplication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RentalLoanApplication'
        description: ""
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RentalApplicationResult'
          description: Successful Loan Application
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      security:
      - Bearer: []
      summary: Apply for a rental loan
      tags:
      - Application
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--RentalLoan
      x-content-type: application/json
      x-accepts: application/json
  /Opportunities:
    get:
      description: "__Note__: C4C offers a private, secure and uncomplicated way for\
        \ the investors to discover, analyze, review and invest."
      operationId: Opportunities_getAvailableInvestments
      parameters:
      - description: "Evaluation of the credit risk based on a borrower's credit history,\
          \ quality of the collateral, and the likelihood of repayment e.g. AA"
        explode: true
        in: query
        name: Rating
        required: false
        schema:
          $ref: '#/components/schemas/LoanRating'
        style: form
      - description: Loan amount e.g. 25000
        explode: true
        in: query
        name: LoanAmount
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: "Type of the loan e.g. Private, SME"
        explode: true
        in: query
        name: LoanType
        required: false
        schema:
          type: string
        style: form
      - description: Available amount to be invested at the moment of our API consuming
          e.g. 2000
        explode: true
        in: query
        name: AvailableAmount
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Interest rate of the loan in % e.g. 5.6
        explode: true
        in: query
        name: InterestRate
        required: false
        schema:
          format: double
          type: number
        style: form
      - description: Duration in months e.g. 24
        explode: true
        in: query
        name: Duration
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Is loan issured? - Yes, No"
        explode: true
        in: query
        name: Insurance
        required: false
        schema:
          $ref: '#/components/schemas/YN'
        style: form
      - description: "Is loan collaterialized? - Yes, No"
        explode: true
        in: query
        name: Collateral
        required: false
        schema:
          $ref: '#/components/schemas/YN'
        style: form
      - description: Age of the borrower e.g. 42
        explode: true
        in: query
        name: BorrowerAge
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: "Nationality of the borrower, e.g Switzerland, Liechtenstein\
          \ ..."
        explode: true
        in: query
        name: BorrowerNationality
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Opportunity'
          description: Investment Opportunities List
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No opportunities at the moment
          x-do-not-generate: true
      security:
      - Bearer: []
      summary: Get available investment opportunities
      tags:
      - Opportunities
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--Opportunities
      x-accepts: application/json
  /Bid:
    post:
      description: "**Note**: Each successful bid creates a binding obligation on\
        \ you. Once you place you may not retract your bid."
      operationId: Bidding_placeBid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bid'
        description: ""
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BiddingResult'
          description: Successful Bidding
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          x-do-not-generate: true
      security:
      - Bearer: []
      summary: Place a bid on certain loan
      tags:
      - Bidding
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--Bid
      x-content-type: application/json
      x-accepts: application/json
  /Bids:
    post:
      description: "**Note**: Crowd4Cash allows you to invest as agent on behalf of\
        \ other investors. You can submit multiple bids on the same request."
      operationId: Bidding_submitBids
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BiddingSubmitBidsRequest'
        description: ""
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleBiddingResult'
          description: Successful Bidding
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          x-do-not-generate: true
      security:
      - Bearer: []
      summary: Place bids on behalf of your connected investor(s)
      tags:
      - Bidding
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--Bids
      x-content-type: application/json
      x-accepts: application/json
  /Contracts:
    get:
      operationId: Contracts_getAll
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
          description: Loan Agreements List
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No loan agreements found
          x-do-not-generate: true
      security:
      - Bearer: []
      summary: Get all your contracts
      tags:
      - Contracts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--Contracts
      x-accepts: application/json
  /Contracts/{loanId}:
    get:
      operationId: Contracts_getSpecific
      parameters:
      - explode: false
        in: path
        name: loanId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
          description: Loan Agreement
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No loan agreement found
          x-do-not-generate: true
      security:
      - Bearer: []
      summary: Get specific contract
      tags:
      - Contracts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--Contracts-loanId
      x-accepts: application/json
  /Contracts/{partnerId}/{loanId}:
    get:
      operationId: Contracts_getSpecificIntermediaryLoanContract
      parameters:
      - explode: false
        in: path
        name: partnerId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      - explode: false
        in: path
        name: loanId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
          description: Loan Agreement
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No loan agreement found
          x-do-not-generate: true
      security:
      - Bearer: []
      summary: Get specific intermediary loan contract
      tags:
      - Contracts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--Contracts-partnerId-loanId
      x-accepts: application/json
  /Contracts/RentalLoan/{loanId}:
    get:
      operationId: Contracts_getLoanContract
      parameters:
      - explode: false
        in: path
        name: loanId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
          description: Loan Agreement
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: No loan agreement found
          x-do-not-generate: true
      security:
      - Bearer: []
      summary: Get specific rental loan contract
      tags:
      - Contracts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--Contracts-RentalLoan-loanId
      x-accepts: application/json
  /Portfolio:
    get:
      operationId: Portfolio_getInvestments
      parameters:
      - explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'
          description: Investment Portfolio Info
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          x-do-not-generate: true
      security:
      - Bearer: []
      summary: Get your investment portfolio
      tags:
      - Portfolio
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--Portfolio
      x-accepts: application/json
  /CustomPortfolio:
    get:
      description: "__Note__: If the standard portfolio doesn't suit your needs, please\
        \ [contact C4C](https://crowd4cash.ch/contact) to request customization"
      operationId: Portfolio_getCustomizedPortfolio
      parameters:
      - description: ""
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'
          description: Investment Portfolio Info
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          x-do-not-generate: true
      security:
      - Bearer: []
      summary: Get your customized investment portfolio
      tags:
      - Portfolio
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--CustomPortfolio
      x-accepts: application/json
  /Connector:
    get:
      description: "__Note__: It's valid only for investments made indirectly through\
        \ connector"
      operationId: Reports_getConnectorInvestments
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorReport'
          description: Investments List
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          x-do-not-generate: true
      security:
      - Bearer: []
      summary: Get your connector account summary and investments of the connected
        investors
      tags:
      - Reports
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--Connector
      x-accepts: application/json
  /Intermediary:
    get:
      description: "__Note__: It's valid only for loans made indirectly through the\
        \ intermediary"
      operationId: Reports_getIntermediaryData
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntermediaryReport'
          description: Account Overview
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          x-do-not-generate: true
      security:
      - Bearer: []
      summary: Get your intermediary account summary and your partner loans data
      tags:
      - Reports
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--Intermediary
      x-accepts: application/json
  /Rental:
    get:
      description: "__Note__: It's valid only for loans made through this API"
      operationId: Reports_rentalAccountSummary
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RentalReport'
          description: Account Overview
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          x-do-not-generate: true
      security:
      - Bearer: []
      summary: Get your rental account summary and your loans data
      tags:
      - Reports
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--Rental
      x-accepts: application/json
  /Loans:
    get:
      description: "**Note**: In order to consume this endpoint we need to grant a\
        \ special access to your account. Please [contact us](https://crowd4cash.ch/contact)\
        \ for further information."
      operationId: Loans_getLoanData
      parameters:
      - description: Page number you want to access
        explode: true
        in: query
        name: PageNumber
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: Number of items per page. Max is 20
        explode: true
        in: query
        name: PageSize
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - description: Status values that need to be considered for filter
        explode: true
        in: query
        name: loanstatus
        required: true
        schema:
          $ref: '#/components/schemas/Status'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedList'
          description: Loan Data Dataset
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized
          x-do-not-generate: true
      security:
      - Bearer: []
      summary: Get a complete C4C loan data dataset for your credit analyses
      tags:
      - Loans
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--Loans
      x-accepts: application/json
components:
  schemas:
    AccountDetails:
      example:
        availableCash: 250.32
        accountValue: 4750.32
        availableCashCurrency: CHF
        investedAmount: 4500
        losses: 250
        numberOfInvestments: 5
      properties:
        availableCash:
          description: Receivables that are not paid to investor
          example: 250.32
          format: double
          type: number
          x-konfig-original-example: 250.32
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccountDetails-properties-availableCash
        availableCashCurrency:
          description: Currency
          example: CHF
          nullable: true
          type: string
          x-konfig-original-example: CHF
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccountDetails-properties-availableCashCurrency
        accountValue:
          description: Current principal balance + available cash
          example: 4750.32
          format: double
          type: number
          x-konfig-original-example: 4750.32
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccountDetails-properties-accountValue
        investedAmount:
          description: Current principal balance
          example: 4500
          format: double
          type: number
          x-konfig-original-example: 4500
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccountDetails-properties-investedAmount
        numberOfInvestments:
          description: Current number of investments
          example: 5
          format: int32
          type: integer
          x-konfig-original-example: 5
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccountDetails-properties-numberOfInvestments
        losses:
          description: The sum of "bad debt" and "default"
          example: 250
          format: double
          type: number
          x-konfig-original-example: 250
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccountDetails-properties-losses
      type: object
    AccountStatement:
      description: Information about the payment of the instalments by the borrower
      example:
        entries:
        - amount: 945.78
          dueDate: 26.02.2021
          matchingDate: 01.03.2021
          annuityNumber: 5320
          messageDate: 01.03.2021
        - amount: 945.78
          dueDate: 26.02.2021
          matchingDate: 01.03.2021
          annuityNumber: 5320
          messageDate: 01.03.2021
      properties:
        entries:
          items:
            $ref: '#/components/schemas/AccountStatementEntry'
          nullable: true
          type: array
      type: object
    AccountStatementEntry:
      description: Information about the each payment by the borrower
      example:
        amount: 945.78
        dueDate: 26.02.2021
        matchingDate: 01.03.2021
        annuityNumber: 5320
        messageDate: 01.03.2021
      properties:
        annuityNumber:
          description: Number of the borrower instalment
          example: 5320
          format: int32
          type: integer
          x-konfig-original-example: 5320
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccountStatementEntry-properties-annuityNumber
        dueDate:
          description: Instalment due date
          example: 26.02.2021
          nullable: true
          type: string
          x-konfig-original-example: 26.02.2021
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccountStatementEntry-properties-dueDate
        messageDate:
          description: A date when the instalment is paid by borrower
          example: 01.03.2021
          nullable: true
          type: string
          x-konfig-original-example: 01.03.2021
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccountStatementEntry-properties-messageDate
        matchingDate:
          description: A date when payment is booked in C4C system
          example: 01.03.2021
          nullable: true
          type: string
          x-konfig-original-example: 01.03.2021
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccountStatementEntry-properties-matchingDate
        amount:
          description: An amount paid by the borrower
          example: 945.78
          format: double
          type: number
          x-konfig-original-example: 945.78
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccountStatementEntry-properties-amount
      type: object
    AccountSummary:
      example:
        principal: 150
        defaultInterest: 10.25
        interest: 50.3
        closingBalance: 0
        commission: 10
        investments: 6000
        openingBalance: 0
        deposits: 600
        withdrawals: 0
      properties:
        openingBalance:
          description: Balance at the beggining of the month
          example: 0
          format: double
          type: number
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccountSummary-properties-openingBalance
        interest:
          description: Interest that investor receives for all investments during
            the months
          example: 50.3
          format: double
          type: number
          x-konfig-original-example: 50.3
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccountSummary-properties-interest
        defaultInterest:
          description: Interest that investor receives for the late payments
          example: 10.25
          format: double
          type: number
          x-konfig-original-example: 10.25
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccountSummary-properties-defaultInterest
        principal:
          description: Principal paid to investor during the month
          example: 150
          format: double
          type: number
          x-konfig-original-example: 150
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccountSummary-properties-principal
        investments:
          description: Investor's investments during the month
          example: 6000
          format: double
          type: number
          x-konfig-original-example: 6000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccountSummary-properties-investments
        commission:
          description: Commission paid by investor during the month
          example: 10
          format: double
          type: number
          x-konfig-original-example: 10
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccountSummary-properties-commission
        deposits:
          description: Paid bids by investor during the months
          example: 600
          format: double
          type: number
          x-konfig-original-example: 600
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccountSummary-properties-deposits
        withdrawals:
          description: "Deposits returned to investor during the month, due to cancelation\
            \ of the agreement by the borrower"
          example: 0
          format: double
          type: number
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccountSummary-properties-withdrawals
        closingBalance:
          description: Balance at the end of the month
          example: 0
          format: double
          type: number
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AccountSummary-properties-closingBalance
      type: object
    ActiveBid:
      description: Offers made by the other investors
      example:
        amount: 3.502657762086401
        dateCreated: dateCreated
        pseudonym: pseudonym
      properties:
        pseudonym:
          description: Investor pseudonym
          nullable: true
          type: string
        dateCreated:
          description: Bidding date
          nullable: true
          type: string
        amount:
          description: Bid amount
          format: double
          type: number
      type: object
    AmortizationSchedule:
      description: Complete table of monthly payments to investor
      example:
        payments:
        - note: "The customer pays regularly, but is two instalments behind schedule."
          annuityStatus: "paid, unpaid, late"
          datePaid: 01.03.2021
          commissionPortion: 3.79
          annuityAmount: 235.78
          principalPortion: 200.57
          interestPortion: 35.21
          isPaid: "Yes, No"
          insuranceFee: 2.52
          principalBalance: 6500
          annuityDate: 26.02.2021
          administrativeFee: 1.2
          netIncome: 31.45
          annuityNumber: 5320
        - note: "The customer pays regularly, but is two instalments behind schedule."
          annuityStatus: "paid, unpaid, late"
          datePaid: 01.03.2021
          commissionPortion: 3.79
          annuityAmount: 235.78
          principalPortion: 200.57
          interestPortion: 35.21
          isPaid: "Yes, No"
          insuranceFee: 2.52
          principalBalance: 6500
          annuityDate: 26.02.2021
          administrativeFee: 1.2
          netIncome: 31.45
          annuityNumber: 5320
      properties:
        payments:
          items:
            $ref: '#/components/schemas/SchedulePayment'
          nullable: true
          type: array
      type: object
    ApplicationResult:
      description: ""
      example:
        result: result
        esr: esr
        message: message
        error: error
        loanId: 0
      properties:
        result:
          description: Success or Error
          nullable: true
          type: string
        message:
          description: Message of the action
          nullable: true
          type: string
        loanId:
          description: ID of the newly created loan
          format: int32
          type: integer
        esr:
          description: ESR of the newly created loan
          nullable: true
          type: string
        error:
          description: "If no error, it's empty"
          nullable: true
          type: string
      type: object
      x-konfig-is-used-in-successful-response: true
    AutoInvestSettings:
      example:
        automaticBuilder:
          builderOption:
            secondaryMarket: true
            totalAmountForInvestment: 10000
            durationFrom: 0
            interestRateTo: 8
            reinvest: true
            maximumPerBid: 2500
            minimumPerBid: 500
            durationTo: 6
            isActive: true
            originators: Crowd Solutions AG
            investmentLevel: balanced
            interestRateFrom: 4
            investmentCurrently: 6000
            currency: CHF
            id: 370
        manualBuilder:
          builderOption:
            investmentCurrently: 5000
            id: 370
            isActive: true
            originators: Tom Test
          rules:
          - secondaryMarket: true
            totalAmountForInvestment: 10000
            durationFrom: 1
            minimumInterestRate: 4
            reinvest: true
            isEnabled: true
            minimumPerBid: 500
            maximumPerBid: 3500
            durationTo: 5
            currency: CHF
            loanRating: B
          - secondaryMarket: true
            totalAmountForInvestment: 10000
            durationFrom: 1
            minimumInterestRate: 4
            reinvest: true
            isEnabled: true
            minimumPerBid: 500
            maximumPerBid: 3500
            durationTo: 5
            currency: CHF
            loanRating: B
      properties:
        automaticBuilder:
          $ref: '#/components/schemas/AutomaticBuilder'
        manualBuilder:
          $ref: '#/components/schemas/ManualBuilder'
      type: object
    AutomaticBuilder:
      example:
        builderOption:
          secondaryMarket: true
          totalAmountForInvestment: 10000
          durationFrom: 0
          interestRateTo: 8
          reinvest: true
          maximumPerBid: 2500
          minimumPerBid: 500
          durationTo: 6
          isActive: true
          originators: Crowd Solutions AG
          investmentLevel: balanced
          interestRateFrom: 4
          investmentCurrently: 6000
          currency: CHF
          id: 370
      properties:
        builderOption:
          $ref: '#/components/schemas/AutomaticBuilderOption'
      type: object
    AutomaticBuilderOption:
      example:
        secondaryMarket: true
        totalAmountForInvestment: 10000
        durationFrom: 0
        interestRateTo: 8
        reinvest: true
        maximumPerBid: 2500
        minimumPerBid: 500
        durationTo: 6
        isActive: true
        originators: Crowd Solutions AG
        investmentLevel: balanced
        interestRateFrom: 4
        investmentCurrently: 6000
        currency: CHF
        id: 370
      properties:
        id:
          description: Id of the automatic portfolio builder
          example: 370
          format: int32
          type: integer
          x-konfig-original-example: 370
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AutomaticBuilderOption-properties-id
        investmentCurrently:
          description: Current investment using automatic autoinvest
          example: 6000
          format: double
          type: number
          x-konfig-original-example: 6000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AutomaticBuilderOption-properties-investmentCurrently
        totalAmountForInvestment:
          description: Total amount that can be invested using automatic autoinvest
          example: 10000
          format: double
          type: number
          x-konfig-original-example: 10000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AutomaticBuilderOption-properties-totalAmountForInvestment
        originators:
          description: Who's create/update the automatic portfolio builder?
          example: Crowd Solutions AG
          nullable: true
          type: string
          x-konfig-original-example: Crowd Solutions AG
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AutomaticBuilderOption-properties-originators
        interestRateFrom:
          description: Minimum interest rate of the loan in which investor wants to
            invest
          example: 4
          format: double
          type: number
          x-konfig-original-example: 4
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AutomaticBuilderOption-properties-interestRateFrom
        interestRateTo:
          description: Mаџимум interest rate of the loan in which investor wants to
            invest
          example: 8
          format: double
          type: number
          x-konfig-original-example: 8
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AutomaticBuilderOption-properties-interestRateTo
        maximumPerBid:
          description: Maximum bid amount per loan
          example: 2500
          format: double
          type: number
          x-konfig-original-example: 2500
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AutomaticBuilderOption-properties-maximumPerBid
        minimumPerBid:
          description: Minimum bid amount per loan
          example: 500
          format: double
          type: number
          x-konfig-original-example: 500
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AutomaticBuilderOption-properties-minimumPerBid
        reinvest:
          description: "Can investments be reinvested? - yes, no"
          type: boolean
        investmentLevel:
          description: "Investment level - conservative, balanced, growth"
          example: balanced
          nullable: true
          type: string
          x-konfig-original-example: balanced
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AutomaticBuilderOption-properties-investmentLevel
        secondaryMarket:
          description: "Can investment be sold on the secondary market? - yes, no"
          type: boolean
        isActive:
          description: "Is automatic portfolio builder active? - yes, no"
          type: boolean
        durationFrom:
          description: Date when automatic autoinvest starts to be used
          format: int32
          type: integer
        durationTo:
          description: Date when automatic autoinvest ends to be used
          format: int32
          type: integer
        currency:
          description: Currency
          example: CHF
          nullable: true
          type: string
          x-konfig-original-example: CHF
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AutomaticBuilderOption-properties-currency
      type: object
    Bid:
      description: Placing a bid on certain loan
      example:
        amount: 6.027456183070403
        loanId: 0
      properties:
        loanId:
          description: Loan ID which you want to invest in
          format: int32
          type: integer
        amount:
          description: Amount of the bid
          format: double
          type: number
      required:
      - amount
      - loanId
      type: object
    BiddingResult:
      example:
        result: result
        error: error
      properties:
        result:
          description: Success or Error
          nullable: true
          type: string
        error:
          description: "If no error, it's empty"
          nullable: true
          type: string
      type: object
      x-konfig-is-used-in-successful-response: true
    Company:
      description: A company that takes out a loan
      example:
        yearEstablished: 1996
        city: Egerkingen
        legalForm: "Public limited company, Cooperative, Association, Foundation etc."
        sector: "Cars, Construction sector, Education, Agriculture and Forestry, etc"
        numberOfEmployees: 125
      properties:
        legalForm:
          description: Legal form of the company
          example: "Public limited company, Cooperative, Association, Foundation etc."
          nullable: true
          type: string
          x-konfig-original-example: "Public limited company, Cooperative, Association,\
            \ Foundation etc."
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Company-properties-legalForm
        yearEstablished:
          description: Year established in the commercial resgister
          example: 1996
          format: int32
          nullable: true
          type: integer
          x-konfig-original-example: 1996
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Company-properties-yearEstablished
        city:
          description: Company headquarter
          example: Egerkingen
          nullable: true
          type: string
          x-konfig-original-example: Egerkingen
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Company-properties-city
        sector:
          description: Business sector
          example: "Cars, Construction sector, Education, Agriculture and Forestry,\
            \ etc"
          nullable: true
          type: string
          x-konfig-original-example: "Cars, Construction sector, Education, Agriculture\
            \ and Forestry, etc"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Company-properties-sector
        numberOfEmployees:
          description: Number of employees
          example: 125
          format: int32
          nullable: true
          type: integer
          x-konfig-original-example: 125
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Company-properties-numberOfEmployees
      type: object
    ConnectedInvestor:
      description: An investor whose investments are made indirectly through connector
      example:
        pendingInvestmentsCount: 6
        activeInvestmentsCount: 14
        investorId: 570
        investorName: Connected AG
        activeInvestmentsTotal: 62000
        pendingInvestmentsTotal: 27000
        investorType: Company
      properties:
        investorId:
          description: Id of the investor
          example: 570
          format: int32
          type: integer
          x-konfig-original-example: 570
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConnectedInvestor-properties-investorId
        investorType:
          description: Type of the investor Private/Company
          example: Company
          nullable: true
          type: string
          x-konfig-original-example: Company
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConnectedInvestor-properties-investorType
        investorName:
          description: Name of the investor
          example: Connected AG
          nullable: true
          type: string
          x-konfig-original-example: Connected AG
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConnectedInvestor-properties-investorName
        pendingInvestmentsCount:
          description: Number of pending investments
          example: 6
          format: int32
          type: integer
          x-konfig-original-example: 6
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConnectedInvestor-properties-pendingInvestmentsCount
        pendingInvestmentsTotal:
          description: Total amount of pending investments
          example: 27000
          format: double
          type: number
          x-konfig-original-example: 27000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConnectedInvestor-properties-pendingInvestmentsTotal
        activeInvestmentsCount:
          description: Number of active investments
          example: 14
          format: int32
          type: integer
          x-konfig-original-example: 14
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConnectedInvestor-properties-activeInvestmentsCount
        activeInvestmentsTotal:
          description: Total amount of active investments
          example: 62000
          format: double
          type: number
          x-konfig-original-example: 62000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConnectedInvestor-properties-activeInvestmentsTotal
      type: object
    ConnectorBid:
      description: A bid that connector places on behalf of connected investors
      example:
        amount: 12000
        investorId: 570
        loanId: 3201
      properties:
        investorId:
          description: Investor ID
          example: 570
          format: int32
          type: integer
          x-konfig-original-example: 570
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConnectorBid-properties-investorId
        loanId:
          description: Loan ID on which you want to place a bid on behalf of your
            investors
          example: 3201
          format: int32
          type: integer
          x-konfig-original-example: 3201
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConnectorBid-properties-loanId
        amount:
          description: Amount of the bid
          example: 12000
          format: double
          type: number
          x-konfig-original-example: 12000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConnectorBid-properties-amount
      required:
      - amount
      - investorId
      - loanId
      type: object
    ConnectorInvestment:
      description: An investment made by the connector on behalf of connected investor
      example:
        loanDuration: 48
        investorId: 570
        investorName: Connected AG
        bidAmount: 12000
        bidDate: 20.10.2021
        loanInterest: 5.25
        loanRating: AA
        loanId: 3201
        loanAmount: 24000
      properties:
        investorId:
          description: Id of the investor
          example: 570
          format: int32
          type: integer
          x-konfig-original-example: 570
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConnectorInvestment-properties-investorId
        investorName:
          description: Name of the investor
          example: Connected AG
          nullable: true
          type: string
          x-konfig-original-example: Connected AG
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConnectorInvestment-properties-investorName
        bidAmount:
          description: Amount of the bid
          example: 12000
          format: double
          type: number
          x-konfig-original-example: 12000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConnectorInvestment-properties-bidAmount
        bidDate:
          description: Date when the bid is placed
          example: 20.10.2021
          nullable: true
          type: string
          x-konfig-original-example: 20.10.2021
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConnectorInvestment-properties-bidDate
        loanId:
          description: Id of the loan
          example: 3201
          format: int32
          type: integer
          x-konfig-original-example: 3201
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConnectorInvestment-properties-loanId
        loanAmount:
          description: Amount of the loan
          example: 24000
          format: double
          type: number
          x-konfig-original-example: 24000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConnectorInvestment-properties-loanAmount
        loanDuration:
          description: Duration of the loan in months
          example: 48
          format: int32
          type: integer
          x-konfig-original-example: 48
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConnectorInvestment-properties-loanDuration
        loanInterest:
          description: Interest rate of the loan
          example: 5.25
          format: double
          type: number
          x-konfig-original-example: 5.25
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConnectorInvestment-properties-loanInterest
        loanRating:
          description: "Rating of the loan - AA, A, B, C, D"
          example: AA
          nullable: true
          type: string
          x-konfig-original-example: AA
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConnectorInvestment-properties-loanRating
      type: object
    ConnectorReport:
      description: Report of investments of connected investors related to a connector
      example:
        connectorInvestments:
        - loanDuration: 48
          investorId: 570
          investorName: Connected AG
          bidAmount: 12000
          bidDate: 20.10.2021
          loanInterest: 5.25
          loanRating: AA
          loanId: 3201
          loanAmount: 24000
        - loanDuration: 48
          investorId: 570
          investorName: Connected AG
          bidAmount: 12000
          bidDate: 20.10.2021
          loanInterest: 5.25
          loanRating: AA
          loanId: 3201
          loanAmount: 24000
        connectorSummary:
          pendingInvestmentsCount: 12
          activeInvestmentsCount: 28
          connectedInvestors:
          - pendingInvestmentsCount: 6
            activeInvestmentsCount: 14
            investorId: 570
            investorName: Connected AG
            activeInvestmentsTotal: 62000
            pendingInvestmentsTotal: 27000
            investorType: Company
          - pendingInvestmentsCount: 6
            activeInvestmentsCount: 14
            investorId: 570
            investorName: Connected AG
            activeInvestmentsTotal: 62000
            pendingInvestmentsTotal: 27000
            investorType: Company
          connectorName: Connector AG
          activeInvestmentsTotal: 124000
          pendingInvestmentsTotal: 54000
      properties:
        connectorSummary:
          $ref: '#/components/schemas/ConnectorSummary'
        connectorInvestments:
          items:
            $ref: '#/components/schemas/ConnectorInvestment'
          nullable: true
          type: array
      type: object
      x-konfig-is-used-in-successful-response: true
    ConnectorSummary:
      description: Connector account details
      example:
        pendingInvestmentsCount: 12
        activeInvestmentsCount: 28
        connectedInvestors:
        - pendingInvestmentsCount: 6
          activeInvestmentsCount: 14
          investorId: 570
          investorName: Connected AG
          activeInvestmentsTotal: 62000
          pendingInvestmentsTotal: 27000
          investorType: Company
        - pendingInvestmentsCount: 6
          activeInvestmentsCount: 14
          investorId: 570
          investorName: Connected AG
          activeInvestmentsTotal: 62000
          pendingInvestmentsTotal: 27000
          investorType: Company
        connectorName: Connector AG
        activeInvestmentsTotal: 124000
        pendingInvestmentsTotal: 54000
      properties:
        connectorName:
          description: Name of the connector
          example: Connector AG
          nullable: true
          type: string
          x-konfig-original-example: Connector AG
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConnectorSummary-properties-connectorName
        pendingInvestmentsCount:
          description: Number of pending investments
          example: 12
          format: int32
          type: integer
          x-konfig-original-example: 12
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConnectorSummary-properties-pendingInvestmentsCount
        pendingInvestmentsTotal:
          description: Total amount of pending investments
          example: 54000
          format: double
          type: number
          x-konfig-original-example: 54000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConnectorSummary-properties-pendingInvestmentsTotal
        activeInvestmentsCount:
          description: Number of active investments
          example: 28
          format: int32
          type: integer
          x-konfig-original-example: 28
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConnectorSummary-properties-activeInvestmentsCount
        activeInvestmentsTotal:
          description: Total amount of active investments
          example: 124000
          format: double
          type: number
          x-konfig-original-example: 124000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ConnectorSummary-properties-activeInvestmentsTotal
        connectedInvestors:
          description: List of connected investors
          items:
            $ref: '#/components/schemas/ConnectedInvestor'
          nullable: true
          type: array
      type: object
    Contract:
      description: Your loan agreement
      example:
        contractName: contractName
        contractFile: contractFile
        loanId: 0
      properties:
        loanId:
          description: ID of the loan you have invested in
          format: int32
          type: integer
        contractName:
          description: Name of the file (.PDF)
          nullable: true
          type: string
        contractFile:
          description: String representation of the contract that is encoded with
            base-64 digits
          nullable: true
          type: string
      type: object
      x-konfig-is-used-in-successful-response: true
    Crif:
      description: Borrower's credit report
      example:
        checkingDate: checkingDate
        creditScore: 2
      properties:
        creditScore:
          description: Credit score of the borrower in Crif
          format: int32
          type: integer
        checkingDate:
          description: Date when borrower score is checked
          nullable: true
          type: string
      type: object
    EarlyRepayment:
      description: Early repayment details
      example:
        investorCommission: 1
        totalAmount: 4690.48
        principalBalance: 4666.77
        interest: 24.71
        paymentDate: 12.07.2022
      properties:
        paymentDate:
          description: date when the loan has been paid off
          example: 12.07.2022
          nullable: true
          type: string
          x-konfig-original-example: 12.07.2022
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-EarlyRepayment-properties-paymentDate
        principalBalance:
          description: the amount due and owed to satisfy the payoff of the loan
          example: 4666.77
          format: double
          type: number
          x-konfig-original-example: 4666.77
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-EarlyRepayment-properties-principalBalance
        interest:
          description: Gross interest amount
          example: 24.71
          format: double
          type: number
          x-konfig-original-example: 24.71
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-EarlyRepayment-properties-interest
        investorCommission:
          description: investor commission amount
          example: 1
          format: double
          type: number
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-EarlyRepayment-properties-investorCommission
        totalAmount:
          description: a total amount that has been paid earlier to the investor
          example: 4690.48
          format: double
          type: number
          x-konfig-original-example: 4690.48
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-EarlyRepayment-properties-totalAmount
      type: object
    Error:
      description: Error message in response to a client's request made to the API
      properties:
        type:
          description: Error type
          nullable: true
          type: string
        message:
          description: Error reason
          nullable: true
          type: string
      type: object
      x-konfig-is-used-in-non-successful-response: true
      x-do-not-generate: true
    Expenses:
      description: Monthly expenses of the borrower
      example:
        monthlyMortgage: 500
        privateTransportMonthlyCost: 518.4
        taxAtSource: 2515
        childrenYoungerThanTen: 1
        furtherRecurringMonthlyCost1Amount: 300
        monthlyCostPortion: 900
        furtherRecurringMonthlyCost1Description: Business meal expenses
        anotherLoanMonthlyPayment: 215.29
        residentalSituation: "Tenant, Homeowner"
        anotherLoanLender: PostFinance
        furtherRecurringMonthlyCost2Description: Cleaning expenses
        alimonyOrChildSupportAmount: 0
        alimonyOrChildSupport: "Yes, No"
        insuranceMonthlyCost: 614.1
        mortgageAmount: 0
        housingCondition: "Single, Single sharing an apartment, Partnership without\
          \ sharing an apartment, Single parent, etc."
        payCostSolely: "Yes, No"
        anotherLoan: "Yes, No"
        anotherLoanAmount: 2378.25
        monthlyRent: 1805
        anotherLoanInterestRate: 7.85
        furtherRecurringMonthlyCost: "Yes, No"
        dependentChildren: "Yes, No"
        publicTransportMonthlyCost: 300
        furtherRecurringMonthlyCost2Amount: 500
        childrenOlderThanTen: 1
      properties:
        taxAtSource:
          description: Tax to be paid
          example: 2515
          format: double
          type: number
          x-konfig-original-example: 2515
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-taxAtSource
        housingCondition:
          description: ""
          example: "Single, Single sharing an apartment, Partnership without sharing\
            \ an apartment, Single parent, etc."
          nullable: true
          type: string
          x-konfig-original-example: "Single, Single sharing an apartment, Partnership\
            \ without sharing an apartment, Single parent, etc."
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-housingCondition
        residentalSituation:
          description: Residential situation
          example: "Tenant, Homeowner"
          nullable: true
          type: string
          x-konfig-original-example: "Tenant, Homeowner"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-residentalSituation
        monthlyRent:
          description: Monthly rental cost
          example: 1805
          format: double
          type: number
          x-konfig-original-example: 1805
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-monthlyRent
        payCostSolely:
          description: Are the rental costs shared?
          example: "Yes, No"
          nullable: true
          type: string
          x-konfig-original-example: "Yes, No"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-payCostSolely
        monthlyCostPortion:
          description: Part of the rental costs (if shared)
          example: 900
          format: double
          type: number
          x-konfig-original-example: 900
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-monthlyCostPortion
        monthlyMortgage:
          description: Monthly cost for homeowners
          example: 500
          format: double
          type: number
          x-konfig-original-example: 500
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-monthlyMortgage
        mortgageAmount:
          description: Amount of mortgage outstanding
          example: 0
          format: double
          type: number
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-mortgageAmount
        anotherLoan:
          description: Are there any other open loans?
          example: "Yes, No"
          nullable: true
          type: string
          x-konfig-original-example: "Yes, No"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-anotherLoan
        anotherLoanLender:
          description: Name of lender of the outstanding loan
          example: PostFinance
          nullable: true
          type: string
          x-konfig-original-example: PostFinance
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-anotherLoanLender
        anotherLoanAmount:
          description: Amount of the outstanding loan
          example: 2378.25
          format: double
          type: number
          x-konfig-original-example: 2378.25
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-anotherLoanAmount
        anotherLoanInterestRate:
          description: Interest rate of the outstanding loan
          example: 7.85
          format: double
          type: number
          x-konfig-original-example: 7.85
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-anotherLoanInterestRate
        anotherLoanMonthlyPayment:
          description: Monthly payment of the outstanding loan
          example: 215.29
          format: double
          type: number
          x-konfig-original-example: 215.29
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-anotherLoanMonthlyPayment
        insuranceMonthlyCost:
          description: Cost of insurances on a monthly basis
          example: 614.1
          format: double
          type: number
          x-konfig-original-example: 614.1
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-insuranceMonthlyCost
        privateTransportMonthlyCost:
          description: Cost of private transportation on a monthly basis (cost of
            leasing etc.)
          example: 518.4
          format: double
          type: number
          x-konfig-original-example: 518.4
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-privateTransportMonthlyCost
        publicTransportMonthlyCost:
          description: Cost of public transportation on a monthly basis
          example: 300
          format: double
          type: number
          x-konfig-original-example: 300
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-publicTransportMonthlyCost
        dependentChildren:
          description: Are there any dependent children?
          example: "Yes, No"
          nullable: true
          type: string
          x-konfig-original-example: "Yes, No"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-dependentChildren
        childrenYoungerThanTen:
          description: Number of children younger than ten years?
          example: 1
          format: int32
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-childrenYoungerThanTen
        childrenOlderThanTen:
          description: Number of children older than ten years?
          example: 1
          format: int32
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-childrenOlderThanTen
        alimonyOrChildSupport:
          description: Are there any alimony or external child support
          example: "Yes, No"
          nullable: true
          type: string
          x-konfig-original-example: "Yes, No"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-alimonyOrChildSupport
        alimonyOrChildSupportAmount:
          description: Amount of alimony or external child support (if yes)
          example: 0
          format: double
          type: number
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-alimonyOrChildSupportAmount
        furtherRecurringMonthlyCost:
          description: Are there any other recurring monthly cost?
          example: "Yes, No"
          nullable: true
          type: string
          x-konfig-original-example: "Yes, No"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-furtherRecurringMonthlyCost
        furtherRecurringMonthlyCost1Amount:
          description: Amount of any other recurruing monthly cost (if yes)
          example: 300
          format: double
          type: number
          x-konfig-original-example: 300
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-furtherRecurringMonthlyCost1Amount
        furtherRecurringMonthlyCost1Description:
          description: Description of any other recurruing monthly cost (if yes)
          example: Business meal expenses
          nullable: true
          type: string
          x-konfig-original-example: Business meal expenses
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-furtherRecurringMonthlyCost1Description
        furtherRecurringMonthlyCost2Amount:
          description: Amount of any other recurruing monthly cost (if yes)
          example: 500
          format: double
          type: number
          x-konfig-original-example: 500
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-furtherRecurringMonthlyCost2Amount
        furtherRecurringMonthlyCost2Description:
          description: Description of any other recurruing monthly cost (if yes)
          example: Cleaning expenses
          nullable: true
          type: string
          x-konfig-original-example: Cleaning expenses
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Expenses-properties-furtherRecurringMonthlyCost2Description
      type: object
    Financial:
      description: Company financial data in the last two years
      example:
        curentLiabilities_Other_Year1: 3.5571952270680973
        curentLiabilities_Other_Year2: 6.965117697638846
        liquidFunds_Year2: 5.962133916683182
        machinesAndSystems_Year2: 1.0246457001441578
        machinesAndSystems_Year1: 1.2315135367772556
        grossProfit_Year2_SUM: 5.533258397034986
        grossProfit_Year1_SUM: 7.04836565559697
        financialExpenses_Year1: 9.132027271330688
        netProfit_Year1_SUM: 4.86315908102884
        liquidFunds_Year1: 1.4658129805029452
        financialExpenses_Year2: 0.8774076871421566
        currentAssets_Other_Year2: 2.027123023002322
        curentLiabilities_Year1_SUM: 1.284659006116532
        currentAssets_Other_Year1: 3.616076749251911
        depreciation_Year1: 4.258773108174356
        depreciation_Year2: 1.041444916118296
        costOfGoods_Year2: 3.0576100241049344
        netIncomeBeforeTaxes_Year2_SUM: 0.5199002018724985
        fixedAssets_Other_Year2: 1.1730742509559433
        fixedAssets_Other_Year1: 7.457744773683766
        costOfGoods_Year1: 3.0205796992916243
        netProfit_Year2_SUM: 6.073898085781152
        cashFlow_Year1_SUM: 4.573936264232251
        curentLiabilities_Year2_SUM: 2.8841621266687802
        salesProceeds_Year1: 8.969578798196912
        salesProceeds_Year2: 7.740351818741173
        currentAssets_Year2_SUM: 7.386281948385884
        netIncomeBeforeTaxes_Year1_SUM: 9.702963800023566
        cashFlowInvesting_Year2: 1.7325933120207193
        stocks_Year2: 9.301444243932576
        stocks_Year1: 7.061401241503109
        cashFlowInvesting_Year1: 2.9409642974827896
        facilitiesAndVehiclePark_Year1: 1.4894159098541704
        facilitiesAndVehiclePark_Year2: 6.84685269835264
        endOfYearFinancials_Year2_SUM: 1.8268702177058116
        cashFlowOperating_Year2: 0.43431398824148815
        cashFlowOperating_Year1: 3.901545264248647
        beginningOfYearFinancials_Year1: 8.251625748923757
        currentAssets_Year1_SUM: 4.145608029883936
        beginningOfYearFinancials_Year2: 4.459605034958679
        incomeTaxes_Year1: 7.933506881737151
        cashFlowFinancing_Year2: 6.623518433804886
        accruals_Year2: 6.704019297950036
        accruals_Year1: 5.944895607614016
        incomeTaxes_Year2: 5.507386964179881
        accountsPayable_Year1: 9.965781217890562
        ebit_Year1_SUM: 4.678947989005849
        accountsPayable_Year2: 9.369310271410669
        longTermLoans_Year1: 6.778324963048013
        longTermLiabilities_Year2_SUM: 0.8851374739011653
        longTermLoans_Year2: 6.878052220127876
        cashFlowFinancing_Year1: 8.28965939814297
        endOfYearFinancials_Year1_SUM: 9.254183946267839
        equity_Year2: 6.519180951018382
        equity_Year1: 7.058770351582356
        ebit_Year2_SUM: 7.260521264802104
        ebidta_Year1_SUM: 0.2025324113236393
        longTermLiabilities_Other_Year1: 3.353193347011243
        longTermLiabilities_Other_Year2: 3.0937452626664474
        shortTermLoans_Year1: 9.018348186070783
        accountsReceivable_Year2: 2.3021358869347655
        shortTermLoans_Year2: 6.438423552598547
        cashFlow_Year2_SUM: 8.863729185622827
        ebidta_Year2_SUM: 6.628464275087742
        operatingExpenses_Year2: 4.078845849666752
        accountsReceivable_Year1: 5.637376656633329
        operatingExpenses_Year1: 3.2588565619047607
        fixedAssets_Year2_SUM: 5.025004791520295
        fixedAssets_Year1_SUM: 4.965218492984954
        longTermLiabilities_Year1_SUM: 7.143538047012306
        totalAssets_Year2: 8.762042012749001
        totalAssets_Year1: 6.683562403749608
        totalLiabilities_Year2_SUM: 4.652396432933246
        totalLiabilities_Year1_SUM: 0.10263654006109402
      properties:
        liquidFunds_Year1:
          description: Liquid funds at the end of Year 1
          format: double
          type: number
        liquidFunds_Year2:
          description: Liquid funds at the end of Year 2
          format: double
          type: number
        accountsReceivable_Year1:
          description: Accounts receivable at the end of Year 1
          format: double
          type: number
        accountsReceivable_Year2:
          description: Accounts receivable at the end of Year 2
          format: double
          type: number
        stocks_Year1:
          description: Stocks at the end of Year 1
          format: double
          type: number
        stocks_Year2:
          description: Stocks at the end of Year 2
          format: double
          type: number
        currentAssets_Other_Year1:
          description: Other current assets at the end of Year 1
          format: double
          type: number
        currentAssets_Other_Year2:
          description: Other current assets at the end of Year 2
          format: double
          type: number
        currentAssets_Year1_SUM:
          description: Total current assets at the end of Year 1
          format: double
          type: number
        currentAssets_Year2_SUM:
          description: Total current assets at the end of Year 2
          format: double
          type: number
        machinesAndSystems_Year1:
          description: Machines and systems at the end of Year 1
          format: double
          type: number
        machinesAndSystems_Year2:
          description: Machines and systems at the end of Year 2
          format: double
          type: number
        facilitiesAndVehiclePark_Year1:
          description: Facilities and vehicle at the end of Year 1
          format: double
          type: number
        facilitiesAndVehiclePark_Year2:
          description: Facilities and vehicle at the end of Year 2
          format: double
          type: number
        fixedAssets_Other_Year1:
          description: Other fixed assets at the end of Year 1
          format: double
          type: number
        fixedAssets_Other_Year2:
          description: Other fixed assets at the end of Year 2
          format: double
          type: number
        fixedAssets_Year1_SUM:
          description: Total fixed assets at the end of Year 1
          format: double
          type: number
        fixedAssets_Year2_SUM:
          description: Total fixed assets at the end of Year 2
          format: double
          type: number
        accountsPayable_Year1:
          description: Accounts payable at the end of Year 1
          format: double
          type: number
        accountsPayable_Year2:
          description: Accounts payable at the end of Year 2
          format: double
          type: number
        totalAssets_Year1:
          description: Total assets at the end of Year 1
          format: double
          type: number
        totalAssets_Year2:
          description: Total assets at the end of Year 2
          format: double
          type: number
        shortTermLoans_Year1:
          description: Short term loans at the end of Year 1
          format: double
          type: number
        shortTermLoans_Year2:
          description: Short term loans at the end of Year 2
          format: double
          type: number
        curentLiabilities_Other_Year1:
          description: Other current liabilities at the end of Year 1
          format: double
          type: number
        curentLiabilities_Other_Year2:
          description: Other current liabilities at the end of Year 2
          format: double
          type: number
        curentLiabilities_Year1_SUM:
          description: Total current liabilities at the end of Year 1
          format: double
          type: number
        curentLiabilities_Year2_SUM:
          description: Total current liabilities at the end of Year 2
          format: double
          type: number
        longTermLoans_Year1:
          description: Long term loans at the end of Year 1
          format: double
          type: number
        longTermLoans_Year2:
          description: Long term loans at the end of Year 2
          format: double
          type: number
        accruals_Year1:
          description: Accruals at the end of Year 1
          format: double
          type: number
        accruals_Year2:
          description: Accruals at the end of Year 2
          format: double
          type: number
        longTermLiabilities_Other_Year1:
          description: Other long term laiabilities at the end of Year 1
          format: double
          type: number
        longTermLiabilities_Other_Year2:
          description: Other long term laiabilities at the end of Year 2
          format: double
          type: number
        longTermLiabilities_Year1_SUM:
          description: Total long term laiabilities at the end of Year 1
          format: double
          type: number
        longTermLiabilities_Year2_SUM:
          description: Total long term laiabilities at the end of Year 2
          format: double
          type: number
        equity_Year1:
          description: Equity at the end of Year 1
          format: double
          type: number
        equity_Year2:
          description: Equity at the end of Year 2
          format: double
          type: number
        totalLiabilities_Year1_SUM:
          description: Total laiabilitie at the end of Year 1
          format: double
          type: number
        totalLiabilities_Year2_SUM:
          description: Total laiabilitie at the end of Year 2
          format: double
          type: number
        salesProceeds_Year1:
          description: Sales Year 1
          format: double
          type: number
        salesProceeds_Year2:
          description: Sales Year 2
          format: double
          type: number
        costOfGoods_Year1:
          description: Cost of goods Year 1
          format: double
          type: number
        costOfGoods_Year2:
          description: Cost of goods Year 2
          format: double
          type: number
        grossProfit_Year1_SUM:
          description: Gross profit Year 1
          format: double
          type: number
        grossProfit_Year2_SUM:
          description: Gross profit Year 2
          format: double
          type: number
        operatingExpenses_Year1:
          description: Operating expenses Year 1
          format: double
          type: number
        operatingExpenses_Year2:
          description: Operating expenses Year 2
          format: double
          type: number
        ebidta_Year1_SUM:
          description: Ebidta Year 1
          format: double
          type: number
        ebidta_Year2_SUM:
          description: Ebidta Year 2
          format: double
          type: number
        depreciation_Year1:
          description: Depreciation Year 1
          format: double
          type: number
        depreciation_Year2:
          description: Depreciation Year 2
          format: double
          type: number
        ebit_Year1_SUM:
          description: Ebit Year 1
          format: double
          type: number
        ebit_Year2_SUM:
          description: Ebit Year 2
          format: double
          type: number
        financialExpenses_Year1:
          description: Financial expenses Year 1
          format: double
          type: number
        financialExpenses_Year2:
          description: Financial expenses Year 2
          format: double
          type: number
        netIncomeBeforeTaxes_Year1_SUM:
          description: Net income before tax Year 1
          format: double
          type: number
        netIncomeBeforeTaxes_Year2_SUM:
          description: Net income before tax Year 2
          format: double
          type: number
        incomeTaxes_Year1:
          description: Income taxes Year 1
          format: double
          type: number
        incomeTaxes_Year2:
          description: Income taxes Year 2
          format: double
          type: number
        netProfit_Year1_SUM:
          description: Net profit Year 1
          format: double
          type: number
        netProfit_Year2_SUM:
          description: Net profit Year 2
          format: double
          type: number
        beginningOfYearFinancials_Year1:
          description: Financials at the beginning of Year 1
          format: double
          type: number
        beginningOfYearFinancials_Year2:
          description: Financials at the beginning of Year 2
          format: double
          type: number
        cashFlowOperating_Year1:
          description: Cash flow of operating activities Year 1
          format: double
          type: number
        cashFlowOperating_Year2:
          description: Cash flow of operating activities Year 2
          format: double
          type: number
        cashFlowInvesting_Year1:
          description: Cash flow of investing activities Year 1
          format: double
          type: number
        cashFlowInvesting_Year2:
          description: Cash flow of investing activities Year 2
          format: double
          type: number
        cashFlowFinancing_Year1:
          description: Cash flow of finansing activities Year 1
          format: double
          type: number
        cashFlowFinancing_Year2:
          description: Cash flow of finansing activities Year 2
          format: double
          type: number
        cashFlow_Year1_SUM:
          description: Total cash flow Year 1
          format: double
          type: number
        cashFlow_Year2_SUM:
          description: Total cash flow Year 2
          format: double
          type: number
        endOfYearFinancials_Year1_SUM:
          description: Financials at the end of Year 1
          format: double
          type: number
        endOfYearFinancials_Year2_SUM:
          description: Financials at the end of Year 2
          format: double
          type: number
      type: object
    Income:
      description: Monthly income of the borrower
      example:
        profession: "Health insurance specialist, Doctor, Marketing specialist, etc."
        monthlyNetIncome: 14991.66
        bonusAverage: 7000
        employmentType: "Employed With Open-Ended Contract, Selfemployed"
        partnerIncome: "Yes, No"
        partnerNumberOfSalaries: 6
        employmentRelationshipUnderNotice: "Yes, No"
        additionalIncomeType: Rent
        partnerProfession: "Health insurance specialist, Doctor, Marketing specialist,\
          \ etc."
        numberOfSalaries: 0
        partnerMonthlyNetIncome: 6548.45
        workSince: ' 01.10.2015'
        additionalIncome: "Yes, No"
        partnerWorkSince: ' 01.06.2018'
        partnerBonusAverage: 2000
        additionalIncomeAmount: 1000
      properties:
        profession:
          description: Profession description
          example: "Health insurance specialist, Doctor, Marketing specialist, etc."
          nullable: true
          type: string
          x-konfig-original-example: "Health insurance specialist, Doctor, Marketing\
            \ specialist, etc."
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Income-properties-profession
        employmentType:
          description: Type of employment
          example: "Employed With Open-Ended Contract, Selfemployed"
          nullable: true
          type: string
          x-konfig-original-example: "Employed With Open-Ended Contract, Selfemployed"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Income-properties-employmentType
        employmentRelationshipUnderNotice:
          description: Is the employment under notice
          example: "Yes, No"
          nullable: true
          type: string
          x-konfig-original-example: "Yes, No"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Income-properties-employmentRelationshipUnderNotice
        workSince:
          description: Date since started with the current employer
          example: ' 01.10.2015'
          nullable: true
          type: string
          x-konfig-original-example: ' 01.10.2015'
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Income-properties-workSince
        numberOfSalaries:
          description: Number of salaries paid out to borrower
          format: int32
          type: integer
        monthlyNetIncome:
          description: Monthly net income of the borrower
          example: 14991.66
          format: double
          type: number
          x-konfig-original-example: 14991.66
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Income-properties-monthlyNetIncome
        bonusAverage:
          description: Average bonus of the last 3 years
          example: 7000
          format: double
          type: number
          x-konfig-original-example: 7000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Income-properties-bonusAverage
        additionalIncome:
          description: Additional income included?
          example: "Yes, No"
          nullable: true
          type: string
          x-konfig-original-example: "Yes, No"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Income-properties-additionalIncome
        additionalIncomeType:
          description: Source of additional income
          example: Rent
          nullable: true
          type: string
          x-konfig-original-example: Rent
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Income-properties-additionalIncomeType
        additionalIncomeAmount:
          description: Amount of the additional income
          example: 1000
          format: double
          type: number
          x-konfig-original-example: 1000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Income-properties-additionalIncomeAmount
        partnerIncome:
          description: Include partner income?
          example: "Yes, No"
          nullable: true
          type: string
          x-konfig-original-example: "Yes, No"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Income-properties-partnerIncome
        partnerProfession:
          description: Profession description (Partner)
          example: "Health insurance specialist, Doctor, Marketing specialist, etc."
          nullable: true
          type: string
          x-konfig-original-example: "Health insurance specialist, Doctor, Marketing\
            \ specialist, etc."
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Income-properties-partnerProfession
        partnerWorkSince:
          description: Date since started with the current employer (Partner)
          example: ' 01.06.2018'
          nullable: true
          type: string
          x-konfig-original-example: ' 01.06.2018'
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Income-properties-partnerWorkSince
        partnerNumberOfSalaries:
          description: Number of salaries paid out to partner
          format: int32
          type: integer
        partnerMonthlyNetIncome:
          description: Monthly net income of the partner
          example: 6548.45
          format: double
          type: number
          x-konfig-original-example: 6548.45
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Income-properties-partnerMonthlyNetIncome
        partnerBonusAverage:
          description: Average bonus of partner of the last three years
          example: 2000
          format: double
          type: number
          x-konfig-original-example: 2000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-Income-properties-partnerBonusAverage
      type: object
    IntermediaryLoan:
      description: A loan that was made on behalf of your partner
      example:
        interestRate: 5.25
        insurance: "false"
        notes: "Due to a worse year in 2018, liquidity has been weakened and certain\
          \ renewals in the company are needed."
        collateralType: Vehicle
        totalRepaidPrincipal: 44766.375
        partnerName: Auto Center Bühler GmbH
        numberOfUnpaidAnnuities: 4
        link: https://crowd4cash.ch/loan-details/443
        loanRating: AA
        loanAmount: 155000
        duration: 12
        dateCreated: 04.06.2022
        totalPrincipalRemaining: 110233.625
        dateApproved: 12.06.2022
        performanceStatus: Performing
        maturityDate: 26.06.2023
        loanStatus: Active
        lastPaymentDate: 10.12.2022
        daysLate: 0
        totalRepaidInterest: 11147.345
        disbursementDate: 20.06.2012
        partnerId: 2538
        collateral: "true"
        loanId: 443
      properties:
        loanId:
          description: Loan Id
          example: 443
          format: int32
          type: integer
          x-konfig-original-example: 443
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-IntermediaryLoan-properties-loanId
        partnerId:
          description: Partner Id
          example: 2538
          format: int32
          type: integer
          x-konfig-original-example: 2538
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-IntermediaryLoan-properties-partnerId
        partnerName:
          description: Name of the partner
          example: Auto Center Bühler GmbH
          nullable: true
          type: string
          x-konfig-original-example: Auto Center Bühler GmbH
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-IntermediaryLoan-properties-partnerName
        dateCreated:
          description: Date of applicaton
          example: 04.06.2022
          nullable: true
          type: string
          x-konfig-original-example: 04.06.2022
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-IntermediaryLoan-properties-dateCreated
        dateApproved:
          description: Date of approval
          example: 12.06.2022
          nullable: true
          type: string
          x-konfig-original-example: 12.06.2022
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-IntermediaryLoan-properties-dateApproved
        loanAmount:
          description: Loan amount total
          example: 155000
          format: double
          type: number
          x-konfig-original-example: 155000
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-IntermediaryLoan-properties-loanAmount
        interestRate:
          description: Interest rate of the loan
          example: 5.25
          format: double
          type: number
          x-konfig-original-example: 5.25
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-IntermediaryLoan-properties-interestRate
        duration:
          description: Duration in months
          example: 12
          format: int32
          type: integer
          x-konfig-original-example: 12
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-IntermediaryLoan-properties-duration
        loanRating:
          description: "Rating of the loan - AA, A, B, C, D"
          example: AA
          nullable: true
          type: string
          x-konfig-original-example: AA
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-IntermediaryLoan-properties-loanRating
        loanStatus:
          description: Status of the loan
          example: Active
          nullable: true
          type: string
          x-konfig-original-example: Active
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-IntermediaryLoan-properties-loanStatus
        lastPaymentDate:
          description: Date of last payment received by the investor
          example: 10.12.2022
          nullable: true
          type: string
          x-konfig-original-example: 10.12.2022
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-IntermediaryLoan-properties-lastPaymentDate
        performanceStatus:
          description: "Payment status - performing, late 1 to 15 days, Defaulted"
          example: Performing
          nullable: true
          type: string
          x-konfig-original-example: Performing
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-IntermediaryLoan-properties-performanceStatus
        daysLate:
          description: Number od days late
          example: 0
          format: int32
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-IntermediaryLoan-properties-daysLate
        collateral:
          description: "Is loan collaterialized? - Yes, No"
          example: "true"
          nullable: true
          type: string
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-IntermediaryLoan-properties-collateral
        collateralType:
          description: "Collater Type - Real estate, Vehicle, Guarantor, Stock"
          example: Vehicle
          nullable: true
          type: string
          x-konfig-original-example: Vehicle
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-IntermediaryLoan-properties-collateralType
        insurance:
          description: "Is loan insured? - Yes, No"
          example: "false"
          nullable: true
          type: string
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-IntermediaryLoan-properties-insurance
        totalPrincipalRemaining:
          description: Unpaid Principal
          example: 110233.625
          format: double
          type: number
          x-konfig-original-example: 110233.625
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-IntermediaryLoan-properties-totalPrincipalRemaining
        numberOfUnpaidAnnuities:
          description: Number of annuities that have been not paid yet.
          example: 4
          format: int32
          type: integer
          x-konfig-original-example: 4
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-IntermediaryLoan-properties-numberOfUnpaidAnnuities
        totalRepaidPrincipal:
          description: Currently paid principal
          example: 44766.375
          format: double
          type: number
          x-konfig-original-example: 44766.375
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-IntermediaryLoan-properties-totalRepaidPrincipal
        totalRepaidInterest:
          description: Currently paid interest
          example: 11147.345
          format: double
          type: number
          x-konfig-original-example: 11147.345
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-IntermediaryLoan-properties-totalRepaidInterest
        disbursementDate:
          description: Date when the loan is paid to borrower
          example: 20.06.2012
          nullable: true
          type: string
          x-konfig-original-example: 20.06.2012
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-IntermediaryLoan-properties-disbursementDate
        maturityDate:
          description: Date of the last instalment
          example: 26.06.2023
          nullable: true
          type: string
          x-konfig-original-example: 26.06.2023
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-IntermediaryLoan-properties-maturityDate
        notes:
          description: Description of the loan purpose
          example: "Due to a worse year in 2018, liquidity has been weakened and certain\
            \ renewals in the company are needed."
          nullable: true
          type: string
          x-konfig-original-example: "Due to a worse year in 2018, liquidity has been\
            \ weakened and certain renewals in the company are needed."
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-IntermediaryLoan-properties-notes
        link:
          description: Web page where loan is desplayed in UI
          example: https://crowd4cash.ch/loan-details/443
          nullable: true
          type: string
[...]
